
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');

:root {
  /* farver */
  --blue: #3344ff;
  --white: #ffffff;
  --red: #a31010
}

header {
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid black;
  height:160px;
  position: relative;
  padding: 10px;
}

.header_baggrund {
  position: relative;
}

.header_baggrund::before {
  content: "";
  background-image: url(../imgs/header_baggrund.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.33;
}

a {
  text-decoration: none;
  color: var(--red);
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline;
  padding-top: 100px;
}

a:hover {
  color: var(--blue);
}

body {
  background-image: url(../imgs/canvas_texture.jpg);
  font-family: 'Duru Sans', sans-serif;
}

#aaa {
  text-align: center;
}

h2 {
  text-align: center;
}


.artikler {
  display: flex;
  justify-content: space-around;
}

.galleri {
  display: flex;
  justify-content: space-around;
}

.galleri img {
  height: 230px;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  padding: 45px;
}

.artikelbillede {
  text-align: center;
}

.artiklerne {
  margin-left: 300px;
  margin-right: 300px;
  line-height: 200%;
}

.bold {
  font-style: oblique;
}

.likes {
  color: green;
}
